### The link of Part 1 is: https://github.com/rikki731/springboard/blob/main/SQLTasks_Tier2_part1.sql

In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

### Q10: List of facilities and revenues

In [2]:
df_q10 = pd.read_sql_query('select name, sum(case when memid = 0 then guestcost * slots else membercost * slots end) as revenue from Facilities inner join Bookings using (facid) group by facid having revenue < 1000 order by revenue', conn)

In [3]:
print(df_q10)

            name  revenue
0   Table Tennis      180
1  Snooker Table      240
2     Pool Table      270

### Q11: List of members and recommending persons

In [4]:
df_q11 = pd.read_sql_query('select m.surname || ", " || m.firstname as members, r.surname || ", " || r.firstname as recommends from Members as m left join Members as r on r.memid = m.recommendedby where r.recommendedby is not NULL order by members', conn)

In [5]:
print(df_q11)

                     members          recommends
0            Bader, Florence    Stibbons, Ponder
1                Baker, Anne    Stibbons, Ponder
2             Baker, Timothy     Farrell, Jemima
3                Boothe, Tim         Rownam, Tim
4            Butters, Gerald       Smith, Darren
5               Coplin, Joan      Baker, Timothy
6             Crumpet, Erica        Smith, Tracy
7                Dare, Nancy    Joplette, Janice
8           Genting, Matthew     Butters, Gerald
9                 Hunt, John  Purview, Millicent
10              Jones, David    Joplette, Janice
11            Jones, Douglas        Jones, David
12          Joplette, Janice       Smith, Darren
13           Mackenzie, Anna       Smith, Darren
14             Owen, Charles       Smith, Darren
15             Pinker, David     Farrell, Jemima
16        Purview, Millicent        Smith, Tracy
17         Rumney, Henrietta    Genting, Matthew
18         Sarwin, Ramnaresh     Bader, Florence
19               Smith, Jack       Smith, Darren
20          Stibbons, Ponder       Tracy, Burton
21  Worthington-Smyth, Henry        Smith, Tracy

### Q12: List of facilites and usage by only members

In [6]:
df_q12 = pd.read_sql_query('select name, sum(slots) as usage_half_hour from Facilities inner join Bookings using (facid) where memid <> 0 group by facid', conn)

In [7]:
print(df_q12)

              name  usage_half_hour
0   Tennis Court 1              957
1   Tennis Court 2              882
2  Badminton Court             1086
3     Table Tennis              794
4   Massage Room 1              884
5   Massage Room 2               54
6     Squash Court              418
7    Snooker Table              860
8       Pool Table              856

### Q13: List of facilities and usage monthely by only members

In [8]:
df_q13 = pd.read_sql_query('select strftime("%m", starttime) as month, name, sum(slots) as usage_half_hour from Facilities inner join Bookings using (facid) where memid <> 0 group by month, facid', conn)

In [9]:
print(df_q13)

   month             name  usage_half_hour
0     07   Tennis Court 1              201
1     07   Tennis Court 2              123
2     07  Badminton Court              165
3     07     Table Tennis               98
4     07   Massage Room 1              166
5     07   Massage Room 2                8
6     07     Squash Court               50
7     07    Snooker Table              140
8     07       Pool Table              110
9     08   Tennis Court 1              339
10    08   Tennis Court 2              345
11    08  Badminton Court              414
12    08     Table Tennis              296
13    08   Massage Room 1              316
14    08   Massage Room 2               18
15    08     Squash Court              184
16    08    Snooker Table              316
17    08       Pool Table              303
18    09   Tennis Court 1              417
19    09   Tennis Court 2              414
20    09  Badminton Court              507
21    09     Table Tennis              400
22    09   Massage Room 1              402
23    09   Massage Room 2               28
24    09     Squash Court              184
25    09    Snooker Table              404
26    09       Pool Table              443

### The link of Part 1 is: https://github.com/rikki731/springboard/blob/main/SQLTasks_Tier2_part1.sql